@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
html{
    height: 100vh;
    font-family: "Press Start 2P", system-ui;
    color: darkturquoise;
}

body{
    height: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#grid{
    display: flex;
    flex-wrap: wrap;
    border: black 3px solid;
    width: 512px;
    height: 512px;
}

button{
    margin-bottom: 24px;
    font-family: "Press Start 2P", system-ui;
    border-radius: 16px;
    background-color: darkturquoise;
}

h1{
    text-align: center;
}